[Desktop Entry]
Type=Application
Name=Hyprland Appearance TUI
GenericName=Theme Configurator
Comment=Real-time Hyprland appearance and opacity configurator
Exec=uwsm-app -- kitty --class hypr_appearance_tui.sh -e /home/dusk/user_scripts/hypr/hypr_appearance_tui.sh
Terminal=false
Categories=Settings;DesktopSettings;System;Utility;
Keywords=hyprland;appearance;theme;tui;config;settings;opacity;blur;shadow;
Icon=preferences-desktop-display
StartupNotify=true
StartupWMClass=hypr_appearance_tui.sh
