[Desktop Entry]
Type=Application
Name=Turn off Power Saver
GenericName= Turn off Battery Saver
Comment=Reverses Power Saving Mode
Exec=uwsm-app -- kitty --hold --class power_saver_off.sh -e /home/dusk/user_scripts/battery/power_saving_off/power_saver_off.sh
Terminal=false
Categories=System;Settings;
Keywords=battery;power;save;energy;performance;
Icon=battery-low
StartupNotify=true
