[Desktop Entry]
Type=Application
Name=Relink Existing Github and Push Changes
Comment=Reconnect and push local changes to remote
Exec=uwsm-app -- kitty --hold --class 310_reconnect_and_push_new_changes_to_github.sh -e /home/dusk/user_scripts/arch_setup_scripts/scripts/310_reconnect_and_push_new_changes_to_github.sh
Terminal=false
Categories=Development;RevisionControl;
Keywords=git;push;sync;upload;github;
Icon=vcs-push
StartupNotify=true
